
#barra{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
}

h1{
	display:inline-block;
	width:70%;
}
nav{
	width:30%;
}

#filtrado{
	margin-top:2%;
	margin-left:3%;
}
#btnfiltrar{
	margin-left:3%;
}
#espaciopeliculas{
	margin-top:2%;

}




